body {
  background-color: #a6e3e9;
  color: #dbe2ef;
  text-align: center;
  padding: 50px;
}

h1 {
  margin: 30px;
  color: #112d4e;
  font-size: 50px;
}

button {
  background-color: #3f72af;
  color: #f9f7f7;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #71c9ce;
}

#open-rules {
  position: absolute;
  top: 30px;
  left: 30px;
}

p {
  font-size: 20px;
  margin: 50px;
}

#rules {
  background-color: #112d4e;
  color: #f9f7f7;
  min-height: 100%;
  width: 300px;
  transform: translateX(-360px);
  transition: transform 0.8s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
}

#rules.open-rules {
  transform: translateX(0);
}

canvas {
  background-color: #f9f7f7;
}
